* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #ffffff;
  overflow-x: hidden;
}

:root {
  /* ===== font-size  ====== */
  --heading-title: 70px;
  --subheading-title: 38px;
  --paragraph-title: 16px;
  --md-title: 38px;
  --li-title: 18px;

  /* ===== Color==== */
  --primary-color: #1d1d1d;

  --text-color: #1d1d1d;
  --medium-size: 22px;
}

a {
  text-decoration: none;
}

header {
  background: #fcfcfc;
}
.nav-container {
  max-width: 1400px;
  margin: auto;
  padding: 20px 0px;
}

.sm-title {
  font-size: var(--li-title);
  font-weight: 600;
  color: #1d1d1d;
}

.md-title {
  font-size: var(--md-title);
}
.title {
  font-size: var(--heading-title);
  color: #1d1d1d;
  line-height: 64px;
  font-weight: 600;
}
.peragraph-title {
  font-size: var(--paragraph-title);
  font-weight: 500;
  color: #535353;
}

.medium-title {
  font-size: var(--medium-size);
}
.flex {
  display: flex;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}

.flex-gap {
  gap: 1rem;
}

/* ===== List ==== */

.nav-menu {
  margin-right: 40px;
}

.nav-li {
  list-style: none;
  padding-left: 8px;
  padding-right: 7px;
}

.message-box .mess-box {
  border: 1px solid #e2e1e1;
  display: inline-block;
  padding: 14px 30px;
  font-weight: 600;
  color: var(--primary-color);
  border-radius: 0px;
  transition: 0.5s ease;
}

.message-box .mess-box:hover {
  background-color: #1d1d1d;
  color: #fff;
}

#demo-text {
  overflow: visible;
  text-align: center;
  font-size: 30px;
  display: flex;
}
#demo-text span {
  position: relative;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}

.anmiTitle {
  font-size: 76px;
}

.feather-shadow {
  mask-image: linear-gradient(
    to right,
    transparent 0,
    #000 20%,
    #000 80%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0,
    #000 20%,
    #000 80%,
    transparent 100%
  );
}

.marquee-slide {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}

.text-gradient-base-color {
  background-image: linear-gradient(to right, #e97522 0%, #1ea3b1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: max-content;
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
/* ======= CSS Media Quary ======= */

@media screen and (max-width: 280px) and (max-width: 540px) {
  .message-box .mess-box {
    display: none;
  }
}

@media screen and (max-width: 540px) and (min-width: 680px) {
}

@media screen and (max-width: 680px) and (min-width: 840px) {
}

@media screen and (max-width: 840px) and (min-width: 1020px) {
}

@media screen and (max-width: 1020px) and (min-width: 1280px) {
}

/* ============CSS Media Quary End=========== */
