/* === Hero  Area ====== */
.branding-hero {
  width: 100% !important;
}
.branding-hear-area {
  max-width: 100% !important;
  width: 100% !important;
}

.branding-slider img {
  width: 100%;
}
.brading-left-side {
  display: flex;
  align-items: center;
  position: relatives;
}
.branding-content {
  display: flex;

  padding-left: 200px;
  position: absolute;
  z-index: 2;
  align-items: center;
}

.brand-heading-contnet {
  max-width: 75%;
  border-left: 1px solid #cfcfcf;
  padding-left: 50px;
}
.brand-subtitle {
  padding-right: 50px;
}

.sm-sub-title {
  line-height: 12px;
  font-weight: 600;
  width: max-content;
  font-size: 12px;
}

.BRAK {
  font-weight: 600;
  line-height: 15px;
  width: max-content;
  transform: rotate(90deg);
  margin-left: 3px;
}

.brand-heading-contnet .peragraph-title {
  max-width: 60%;
  margin: 40px 0;
}

.branding-btn a {
  padding: 15px 30px;
  color: #fff;
  border-radius: 2px;
  background: #1d1d1d;
}

.position-branding {
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 2;
}

.animation-rotation {
  position: absolute;
}

.animation-rotation,
.page-loader::after {
  -webkit-animation: rotation 8s infinite linear;
}

.brand {
  margin: 100px 0;
}

.brand-img img {
  height: 40px;
}

.about-container {
  padding-top: 40px;
  padding-bottom: 100px;
}

.brand-about-heading {
  margin: 1.2rem 0;
}

.brand-about-heading .md-title {
  margin-bottom: 0 !important;
  line-height: 42px;
  font-weight: 600;
}

.brand-about-sm-title p {
  font-weight: 600;
}
.about-sb-title {
  margin: 2rem 0;
}
.bar-sp {
  height: 2px;
  background: #e97522;
  display: block;
  width: 30px;
}

.brand-about {
  padding-left: 1rem;
  padding-right: 3rem;
}
.about-sb-title {
  padding-right: 8.1rem;
  margin-bottom: 3rem;
}

.about-sb-title p {
  line-height: 30px;
}
.brand-about-img-container {
  display: flex;
  gap: 4rem;
  position: relative;
}

.brand-about-br-img:nth-child(1) {
  height: 280px;
}
.brand-about-br-img:nth-child(1) img {
  height: 100%;
}

.brand-about-br-img:nth-child(2) {
  position: absolute;
  height: 370px;
  left: 120px;
  top: 180px;
}

.brand-about-br-img:nth-child(2) img {
  height: 100%;
}
.brand-about-br-img:nth-child(3) {
  height: 330px;
}
.brand-about-br-img:nth-child(3) img {
  height: 100%;
}

/* Hero Area End */

/* -======  brand Achievment ======= */

.Achievement {
  margin-top: 150px;
  margin-bottom: 70px;
}

.brand-achievent {
  border-top: 1px solid #ddd;
}

.achievent-content {
  padding-right: 6rem;
  padding-top: 2rem;
}
.ach-line {
}

.round-up {
  top: -15px;
  position: relative;
}

.step-box {
  border: 1px solid #cfcfcf;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dots {
  width: 7px;
  height: 7px;
  background: #000000;
  border-radius: 50%;
  display: block;
}

/*  */

.cb-tagreel {
  position: relative;
}

.cb-tagreel-content {
  padding: 200px 0;
}

.cb-tagreel-items {
  margin: -58px 0;
  overflow: hidden;
  cursor: default;
}

.cb-tagreel-row {
  display: flex;
  position: relative;
  text-align: center;
  white-space: nowrap;
  gap: 40px;
}

.cb-tagreel-item {
  position: relative;
  line-height: 100%;
  font-size: 3.75vw;
  flex: 0 0 33%;

  text-transform: uppercase;
}
.cb-tagreel-item .title-lg {
  color: #1d1d1d;
  font-size: 200px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: 'Space Grotesk', sans-serif;
}

.cb-tagreel-item.-stroke {
  color: transparent;
  text-shadow: none;
}

.cb-tagreel-item span {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.brand-services-container {
  width: 100% !important;
}

/* Services */

.branding-services {
  margin-top: 80px;
}

.services-img {
  background-position: center;
  background-repeat: none;
  background-size: cover;
  min-height: 1000px;

  width: 100%;
}

.show_agency_products {
  width: 100%;
  height: 900px;
  position: relative;
}
.show_agency_products .agency__products {
  height: 100%;
}

.show_agency_products .agency__products img {
  height: 100%;
}

.button-inner {
  position: relative;
}

.button-inner .contact-hover {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  color: #fff;
  flex-direction: column;
  font-size: 1.3rem;
}

.contact-button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  cursor: pointer;
  opacity: 1;
}

.contact-button.active {
  opacity: 1;
}
.cursor-follower {
  display: block;
  border-radius: 100%;
  opacity: 0;
}
.cursor-follower.active {
  opacity: 1;
}
.round-img {
  position: absolute;
  left: -23px;
  top: -23px;
  z-index: 1;
}
.button-inner .contact-hover p {
  font-size: 1.3rem;
}
.button-inner .contact-hover span {
  transform: rotate(-90deg);
}
