/* === Hero  Area ====== */
.branding-hero {
  width: 100% !important;
}
.branding-hear-area {
  max-width: 100% !important;
  width: 100% !important;
}

.branding-slider img {
  width: 100%;
}
.brading-left-side {
  display: flex;
  align-items: center;
  position: relatives;
}
.branding-content {
  display: flex;

  padding-left: 200px;
  position: absolute;
  z-index: 2;
  align-items: center;
}

.brand-heading-contnet {
  max-width: 75%;
  border-left: 1px solid #cfcfcf;
  padding-left: 50px;
}
.brand-subtitle {
  padding-right: 50px;
}

.sm-sub-title {
  line-height: 12px;
  font-weight: 600;
  width: max-content;
  font-size: 12px;
}

.BRAK {
  font-weight: 600;
  line-height: 15px;
  width: max-content;
  transform: rotate(90deg);
  margin-left: 3px;
}

.brand-heading-contnet .peragraph-title {
  max-width: 60%;
  margin: 40px 0;
}

.branding-btn a {
  background: linear-gradient(
    to right top,

    rgb(156, 50, 176) 50.63694267515923%,
    rgb(96, 0, 255) 99.68152866242038%
  );
  padding: 12px 20px;
  color: #fff;
  border-radius: 2px;
}

.position-branding {
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 2;
}

.animation-rotation {
  position: absolute;
}

.animation-rotation,
.page-loader::after {
  -webkit-animation: rotation 8s infinite linear;
}
/* Hero Area End */
